Subreddit Top Post Summarizer.json
{
  "name": "Subreddit Top Post Summarizer",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "n8n",
        "limit": 5,
        "filters": {
          "category": "top"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        -96,
        -16
      ],
      "id": "d22775f4-a2d2-4ed3-8602-75da259adb9e",
      "name": "Get many posts",
      "credentials": {
        "redditOAuth2Api": {
          "id": "ahuGOQqoipNwbaBa",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "selftext",
        "include": "selectedOtherFields",
        "fieldsToInclude": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ],
      "id": "fa92c711-4d44-48f4-8c61-c206683e7b79",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"post title\",\n  \"content\": \"post content\",\n  \"post_summary\": \"Summarized post\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        160
      ],
      "id": "2a55e085-20b0-47ad-bb4f-1df5c8c46d12",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        160
      ],
      "id": "cd35e240-0d00-495d-80bd-08bec97399ce",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NchtBD6sEH0vCYg4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Gbefj-4RZp7IywFTP7aNe6nJcoJNS7b0f2pzl5z_E1k",
          "mode": "list",
          "cachedResultName": "Reddit Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gbefj-4RZp7IywFTP7aNe6nJcoJNS7b0f2pzl5z_E1k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gbefj-4RZp7IywFTP7aNe6nJcoJNS7b0f2pzl5z_E1k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.output.title }}",
            "Content": "={{ $json.output.content }}",
            "Summary": "={{ $json.output.post_summary }}",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        -16
      ],
      "id": "6be6fbc1-997a-4f6c-949e-f34929d528f5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puIDvD1AGruBiW0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title of the post: {{ $json.title }}\n\nContent of the post: {{ $json.selftext }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI assistant tasked with summarizing Reddit posts. The user will provide a post title and content. Read the content carefully and create a concise summary capturing the main points and essence of the post. \n\nOnly output in the following JSON format:\n\n{\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.selftext }}\"\n  \"post_summary\": \"Summarized post\"\n}\n\nDo not include any additional text or explanation outside of the JSON object.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        352,
        -16
      ],
      "id": "a890fe17-4b18-4083-9c79-27fb846a57fe",
      "name": "Generate Summary"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -16
      ],
      "id": "38bc05c3-2814-42d8-ae9c-2312d2afd4dd",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many posts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Summary",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "837d7b8a-65ea-44eb-9ce7-c4f808c433d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "840154ca8ff3822257170e4b1910defa5b76a2ee2e5b52ef94b6628e655db31a"
  },
  "id": "SdEYAiSOXliDhKPy",
  "tags": []
}